@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

/*texto 1 animacion */
.typewriter-1 {
  width: 0;
  border-right: 3px solid #d8b4fe;
  animation: 
    typing 1.5s steps(20, end) forwards, 
    blink-stop 0.75s step-end 2 forwards;
}

/*texto 2 animacion*/
.typewriter-2 {
  width: 0;
  border-right: 3px solid transparent;
  animation: 
    typing 2s steps(25, end) 1.5s forwards, 
    blink-infinite 0.8s step-end 1.5s infinite;
}

/* texto 3 animacion*/
.fade-right-delay {
  opacity: 0;
  transform: translateX(-30px);
  animation: fadeRight 1s ease-out 3.5s forwards;
}

/* === KEYFRAMES === */
@keyframes typing {
  0% { width: 0; }
  100% { width: 100%; }
}

/* Cursor*/
@keyframes blink-stop {
  0% { border-color: transparent; }
  50% { border-color: #d8b4fe; }
  100% { border-color: transparent; }
}

/* Cursor 2*/
@keyframes blink-infinite {
  0%, 100% { border-color: transparent; }
  50% { border-color: #d8b4fe; }
}
@keyframes fadeRight {
  0% { opacity: 0; transform: translateX(-30px); }
  100% { opacity: 1; transform: translateX(0); }
}